<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="/static/templates/main.css">
  <title>Pi Tester Server</title>
</head>
<body>
  <div class="grid-container">
{{ range . }}
  {{ if .Actived}}
    <button class="button actived-button">{{ .Name}} :: {{ .Ip }}</button>
  {{ else }}
    <button class="button disactived-button">{{ .Name}} :: {{ .Ip }}</button>
  {{ end }}
{{ end }}
	</div>
</body>
</html>
