<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="/static/templates/main.css">
  <title>Pi Tester Server</title>
</head>
  <body>
    <table>
      <tr>
        <td>Активность</td>
        <td>Имя</td>
        <td>Внешний IP</td>
        <td>Внутренний IP</td>
        <td>MAC</td>
      </tr>
    {{ range . }}
      <tr>
        {{if .Actived}}
        <td style="background : green;">On-line</td>
        {{else}}
        <td style="background : red;">Off-line</td>
        {{end}}
        <td>{{.Name}}</td>
        <td>{{.Ip}}</td>
        <td>
        {{ range .InnerIPs }}
        {{ . }}
        {{ end }}
        </td>
         <td>
        {{ range .MACs }}
        {{ . }}
        {{ end }}
        </td>
      </tr>
    {{ end }}
    </table>
  </body>
</html>
